<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>『ヘブンバーンズレッド』ジグソーパズル</title>
    <link rel="stylesheet" href="/static/css/Jigsaw_main.css" id="css-switcher">
    <script>
        // ページが完全にロードされてから実行
        document.addEventListener("DOMContentLoaded", function() {
            // sessionStorageから画像のURLとデバイス情報を取得
            let selectedImageUrl = sessionStorage.getItem('selectedImageUrl');
            let deviceType = sessionStorage.getItem('deviceType');
    
            // 選択された画像を表示
            if (selectedImageUrl) {
                let selectedImage = document.getElementById("selectedImage");
                if (selectedImage) {
                    selectedImage.src = selectedImageUrl;
                }
            }
    
            // デバイス情報に基づいてスクリプトを読み込む
            let script = document.createElement('script');
            script.id = 'currentScript'; // 一意のIDをつけて管理
    
            if (deviceType === 'mobile') {
                script.src = "{{ url_for('static', filename='js/JigsawMobile.js') }}";
            } else if (deviceType === 'pc') {
                script.src = "{{ url_for('static', filename='js/JigsawPC.js') }}";
            }
    
            // スクリプトを読み込む
            document.body.appendChild(script);
        });
    </script>
    
</head>
<body>
    <h1>『ヘブンバーンズレッド』✧✧✧ジグソーパズル✧✧✧</h1>
    <div id="data-container">
        <div id="image-container">
       <h2>完成形</h2>
       <!-- 画像はJavaScriptで表示される -->
        </div>
        <div id="ranking-container">
            <div id="timer"></div>
            <div id="ranking"></div>
            <form id="setting">
                <!-- 1列目: ボタン -->
                <div class="setting-group">
                    <button type="button" onclick="loadPuzzle()">パズルを生成する</button>
                </div>
                <!-- 2列目: リフレッシュボタン -->
                <div class="setting-group">
                    <button type="button" onclick="refreshPuzzle()">リフレッシュ</button>
                </div>
                <!-- 3列目: ビギナー & エキスパート -->
                <div class="setting-group">
                    <label><input type="radio" name="level" value="easy" checked>ビギナー</label>
                    <label><input type="radio" name="level" value="normal">エキスパート</label>
                </div>

                <!-- 4列目: カオス & アンノウン -->
                <div class="setting-group">
                    <label><input type="radio" name="level" value="hard">カオス</label>
                    <label><input type="radio" name="level" value="veryHard">アンノウン</label>
                </div>
            </form>
        </div>
    </div>
    <div id="puzzle-container"></div>
    
    
<!-- <script src="{{ url_for('static', filename='js/JigsawMobile.js') }}"></script> -->
</script>
</body>
</html>
